mixin alert-success(time)
  //- Kiểm tra mảng có tồn tại và có phần tử không
  - if (messages.success && messages.success.length > 0)
    div(
      class="alert alert-success"
      show-alert
      data-time=time
    )
      | #{messages.success[0]} 
      span(close-alert) x

        