doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle} | Tên trang web

        //- Bootstrap & FontAwesome
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
        //-  upload nhiều ảnh
        link(rel="stylesheet", href="https://unpkg.com/filepond/dist/filepond.min.css")
        link(rel="stylesheet", href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css")

        //- CSS tùy chỉnh
        link(rel="stylesheet", href="/css/style.client.css")

    body 
        include ../partials/header.pug

        block main

        include ../partials/footer.pug

        a.chat-bubble(href="/chat" title="Mở trang Chat")
            i.fa-solid.fa-comment-dots


        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
        script(src="/js/script.js")

    //-socket.io client
    script(src="/socket.io/socket.io.js")
    script(src="/js/socket.js")
    script(type="module", src="/js/chat.js") 

    //- Emoji-picker-element
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>

    //- Upload nhiều ảnh
    script(src="https://unpkg.com/filepond/dist/filepond.min.js")
    script(src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js")
